<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shufan.springboot.mbts.mapper.membersMapper">
    <select id="selectAll" resultType="com.shufan.springboot.mbts.model.members">
        select * from members order by num
    </select>
</mapper>